# backend/requirements.txt

# Framework utama
fastapi
uvicorn[standard]

# Database & Migrations
sqlalchemy
psycopg2-binary
alembic

# Validasi & Keamanan (Autentikasi)
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt
argon2-cffi
python-multipart
python-decouple
fastapi-mail>=1.4.1

# Admin Dashboard
sqladmin

structlog
jinja2
fastapi-users
fastapi-users[sqlalchemy]
aiofiles